/* General Purpose Classes */

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.close {
    color: white;
    margin-top: 5px;
    cursor: pointer;
}

.moving {
    cursor: grabbing;
}

/* Main */

#body-container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

#main-body {
    position: relative;
    background-color: #EEEEEE;
}

/* Navigation Bar */

.dropdown-content li>a {
    color: #212529;
}